.App {
  text-align: center;
}

.start {
  /* width: 100vw; */
  height: auto;
  margin: 0;
  padding: 0;
  background-color: rgb(28, 27, 27);
}

p {
  font-size: 19px;
}

.table-cell:hover {
  background-color: rgb(233, 228, 228);
  transition: background-color 0.3s ease;
}

.table-cell2:hover {
  background-color: rgb(27, 17, 17);
  transition: background-color 0.3s ease;
  color: white;
}
